@model IEnumerable<Attendance>
@{
    ViewData["Title"] = "Index";
}

<h1 dir="rtl">تقرير حضور وإنصراف الموظفين</h1>
<a asp-action="New" asp-controller="Attendance" class="btn btn-success"> إضافة </a>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}
<form dir="rtl" asp-action="Search" method="post">
    <div class="form-group">
        <label for="searchString">البحث</label>
        <input type="text" name="search" class="form-control" />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">من تاريخ</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" name="fromDate" value="@ViewBag.FromDate?.ToString("yyyy-MM-dd")" />
            </div>
        </div> <div class="form-group row">
            <label class="col-sm-2 col-form-label">إلى تاريخ</label> <div class="col-sm-4">
                <input type="date" class="form-control" name="toDate" value="@ViewBag.ToDate?.ToString("yyyy-MM-dd")" />
            </div>
    </div>
    <button type="submit" class="btn btn-primary">بحث</button>
</form>

@*<form dir="rtl" asp-action="Search2" method="get">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">من تاريخ</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" name="fromDate" value="@ViewBag.FromDate?.ToString("yyyy-MM-dd")" />
        </div>
    </div> <div class="form-group row">
        <label class="col-sm-2 col-form-label">إلى تاريخ</label> <div class="col-sm-4">
            <input type="date" class="form-control" name="toDate" value="@ViewBag.ToDate?.ToString("yyyy-MM-dd")" />
        </div>
    </div> <div class="form-group row">
        <div class="col-sm-4 offset-sm-2">
            <button type="submit" class="btn btn-primary">بحث</button>
        </div>
    </div>
</form>*@
<table dir="rtl" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">م</th>
            <th scope="col">القسم</th>
            <th scope="col">اسم الموظف</th>
            <th scope="col">وقت الحضور</th>
            <th scope="col">وقت الإنصراف</th>
            <th scope="col">التاريخ </th>
            <th scope="col">العمليات</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

            @foreach (var attend in Model)
            {
                <tr>
                    <th scope="row">@attend.Id</th>
                    <td>@attend.EmployeePersonalData.Department.Name</td>
                    <td>@attend.EmployeePersonalData.Name</td>
                    <td>@(attend.Attend?.Hour.ToString("00") + ":" + attend.Attend?.Minute.ToString("00"))</td>
                    <td>@(attend.Departure?.Hour.ToString("00") + ":" + attend.Departure?.Minute.ToString("00"))</td>
                    <td>@attend.Attend?.ToString("yyyy-MM-dd")</td>


                    <td>
                        <div class="d-flex">
                            <form asp-action="Delete" asp-controller="Attendance" method="post" onsubmit="return confirm('هل تريد حذف بيانات الموظف؟')">
                                <input type="hidden" name="id" value="@attend.Id" />
                                <button type="submit" class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" fill="currentColor" />
                                    </svg>
                                </button>
                            </form>

                            <a asp-action="Edit" asp-controller="Attendance" asp-route-id="@attend.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                </svg>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        
    </tbody>
</table>