@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<!-- Button trigger modal -->

<button type="button" class="btn btn-info mt-2" onclick="Reset()" data-bs-toggle="modal" data-bs-target="#exampleModal">
    أضف مستخدم
</button>
<table class="table table-striped mb-0 rounded-3" dir = "rtl">
        <thead style="background-color: #002d72;">
            <tr>
                <th scope="col">الاسم</th>
                <th scope="col">البريد الالكتروني</th>
                <th scope="col">إسم المستخدم</th>
                <th scope="col">المجموعة</th>
                <th scope="col">العمليات</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.UserswithRole)
        {
            
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.UserName</td>
                <td>@item.roleName</td>
                <td>
                    <input type="submit" value="تعديل" asp-controller="Account" asp-action="Register" onclick="Edit('@item.Name','@item.Email','@item.roleName','@item.UserName','@item.Password')" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" />
                
                </td>
                
            </tr>
        }

        </tbody>
   </table>


<partial name="_PartialRegister" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/module/register.js"></script>

}
